.jumboTitle {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 60px;
  text-align: center;
}
.jumboSubTitle {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 30px;
  text-align: center;
}
.myContainer {
  max-width: 600px;
  align-content: center;
}
body {
    font-family: 'Open Sans', sans-serif !important;
}
.card-body {
  position: relative;
}
.categoryText {
  position: absolute;
  top: 5px;
  left: 40%;
  color: white !important;
  text-align: right !important;
}
.categoryBox {
  height: 35px;
  background-color: red;
  margin: 0 auto;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: 90px;
  top: 0px;
  width: 100px !important;
  }
.ratingBox-flex {
  left: 20%;
  position: absolute;
  bottom: 0px;

}
.Card {
  position: relative;
}
#challengePosition {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900 !important;
  font-size: 1rem;
  position: absolute;
  bottom: 50px;
  color: white !important;
  width: 270px;
  text-align: center;
  margin-bottom: 0px;
}
#titlePosition {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  position: absolute;
  bottom: 100px;
  color: white !important;
  width: 270px;
  text-align: center;
  opacity: 1 !important;
}
.opacityBox {
  display: block;
  opacity: 0.5;
  background-color: gray;
  width: 270px;
  height: 150px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}


.positioning {
}
.textPosition {
  position: relative;
}
.research {
  border: 2px black;
  border-radius: 15px;
}
.textContainer {
  border: 2px black;
  border-radius: 15px;
  height: 200px;
  width: 500px;

}
.bigPic {
  height: 50%;
  width: 50%;
  padding-top: 30px;
}

body {
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px !important;
}

.main-header {
  height: 80%;
  font-size: 80px;
  background-color: white;
  color: red;
  text-align: center;
  opacity: 0.5;
}

.photo-background {
  height: 100%;
  width: 100%;
  background-color: orange;
}

.row-test {
  
  background-color: green;
  text-align: right;

}

.fail-img {
  width: 270px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.card-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  height: 500px;
}
.card-size {
  width: 270px;
  height: 500px;
  border: 0px;
  position: relative;
}
.card-size2 {
  width: 270px;
  height: 500px;
  background-color: #1abc9c;
}
.textPosition {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.titlePosition {
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
}
.btnSpace {
  top: 100px;
  display: block;
  opacity: 1;
  background: transparent;
  width: 270px;
  height: 50px;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: 0;
}

.opacityButton {
  top: 100px;
  display: block;
  opacity: 0.5;
  background-color: blue;
  width: 270px;
  height: 50px;
  position: absolute;
}
.viewSpace {
  color: white;
  position: absolute;
  top: 5px;
  right: 10px;
}
.editSpace {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
}
.deleteSpace {
  color: white;
  position: absolute;
  top: 5px;
  left: 30px;
}
.userImage {
  max-height: 150px;
  position: absolute;
  top: 60px;
  left: 20px;
}
.userContainer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 250px;
}
.userNameText {
  position: absolute;
  font-family: "Open Sans", sans-serif !important;
  font-size: 30px !important;
  top: 10px;
  left: 20px;
}

.fa-keyboard-o {
  padding-left: 10px;
}
.toggleBox {
  display: block;
  height:30px;
  width: 100px;
  background-color: orange;
  position: absolute;
  top: 0px;
  right: 10px;
}
.failBoxContainer {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  align-content: center;
}
.singleFailCard {
  height: 500px;
  width: 100%;
  position: relative;
}
.SFCimgPosition {
  position: absolute;
  left: 40%;
  padding-top: 50px;
}
.SFCtitlePosition {
  position: absolute;
  left: 48%;
  font-family: "Open Sans", sans-serif !important;
  font-size: 30px;
}
.SFCchallengePosition {
  position: absolute;
  left: 40%;
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px;
  top: 270px;
}
.SFCchallengeContainer {
  position: relative;
  width: 300px;
}
.SFCrating {
  position: absolute;
  left: 40%;
  top: 230px;
}
.SFCcategory {
  position: absolute;
  left: 58%;
  top: 230px;
}
.SFCcomments {
  position: absolute;
  left: 40%;
  top: 470px;
  padding-bottom: 70px;
}
.failBoxColor {
  background-color: white;
}
.navbarStyle {
  background-color: #F09508;
  height: 50px;
  width: 100%;
}
.nav-link {
  color: white;
  font-family: "Open Sans", sans-serif !important;
}
.signUpStyle {
  background-color: #F09508;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif !important;
}
html {
  background-color: white;
}
.footerColor {
  background-color: #4D4D4D;
  height: 50px;
  width: 100%;
}
.footerText {
  position: relative;
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 12px !important;
}
.failAppText {
  position: absolute;
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 12px !important;
  left: 20px;
  top: 10px;
}
.contactText {
  position: absolute;
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 12px !important;
  left: 75px;
  top: 14px;
}
.copyrightText {
  position: absolute;
  color: white !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 12px !important;
  left: 230px;
  top: 14px;
}
.jumbotronStyle {
  background-color: #4D4D4D;
}
.SFCcontainer {
  background-color: #F09508;
  width: 100%;
}


