.Card {
  position: relative;
}
.cardBody {
}
.btnSpace1 {
  position: absolute;
  right: 5px;
  bottom: 80px;
}
.positioning {
}
.titlePosition1 {
  position: absolute;
  top: 5px;
  left: 10px;
}
.research {
  border: 2px black;
  border-radius: 15px;
}
.textContainer {
  border: 2px black;
  border-radius: 15px;
  height: 200px;
  width: 500px;

}
.bigPic {
  height: 50%;
  width: 50%;
  padding-top: 30px;
}

body {
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px !important;
}

.main-header {
  height: 80%;
  font-size: 80px;
  background-color: white;
  color: red;
  text-align: center;
  opacity: 0.5;
}

.photo-background {
  height: 100%;
  width: 100%;
  background-color: orange;
}

.row-test {
  
  background-color: green;
  text-align: right;

}

.fail-img {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 30px;
  left: 10px;
}

.card-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-size {
  width: 500px;
  height: 400px;
  position: relative;
}
.buttonPosition {
  position: absolute;
  right: 5px;
}
.textPosition {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.titlePosition {
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
}
.titlePosition1 {
  
}
.btnSpace {
  margin-top: 5px;
  margin-bottom: 5px;
}
.categoryPosition {
  position: absolute;
  top: 150px;
  right: 10px;
}